.image-stack {
  position: relative;
  width: 500px;
  height: 250px;

  top: 9vh;
  left: 7.5vw;
}

.image-stack img,
.image-stack video {
  position: absolute;
  width: 350px;
  max-width: 25vw;
  max-height: 25vh;
  object-fit: contain;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, left 0.3s ease, z-index 0.3s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  background-color: #000000cc;
}

.image-stack img.active,
.image-stack video.active {
  transform: scale(1.2);
  z-index: 100 !important;
}
