<div class="header">
    <div class="perma-bar">
      <h2>RandyBeal.Dev</h2>
    </div>
  
  </div>

<div [class]="screenSize == 1 ? 'main mid' : 'main'" (click)="deactivateContactCard()">
    <div id="img-1">
      <img src="assets/images/img-3.jpg" class="img-1">
    </div>
  
  </div>
  <h1 id="about-header">About Me ...</h1>
  <section class="top-section full-screen-section" (click)="deactivateContactCard()">
    <div class="left">
      <p id="intro" [class]="screenSize == 1 ? 'mid' : ''">
        Hi, I'm Randy Beal, a self-taught developer with nearly 20 years of 
        experience. For as long as I can remember, I've had a drive to learn
        and bend technology to my will, initially as a dream of creating video 
        games. Over the years, I've honed my craft in various professional 
        roles, building a fulfilling career doing what I love most. I'm 
        currently exploring new opportunities to meet and work with others
        who share my passion.<br /> <br />
        <small>One thing I won't claim to be, is a UI Designer, so please bear with me as I work out what this page looks like.</small>
      </p>
      <div id="photo-stack">
  
      </div>
    </div>
    <div class="right">
  
    </div>
  </section>
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      
      <p [style.opacity]="opacityValue">
        <span>Languages</span><br />
        C# | Node.js | Angular | React | Go | PHP | Python | Javascript | JQuery | Solidity | VB | VBA | Bash | Powershell | AutoIt
        <br /><br />
        <span>Technologies / Utilities</span><br />
        Express.Js | REST | SOAP | AI | Pkg Mgrs | HardHat | Web3 | OAuth | XUnit | WebSphere MQ
        <br /><br />
        <span>Database</span><br />
        T-Sql | Entity Framework | NoSql | MySql | SSMS | PhpMyAdmin | Snowflake | SQLite
      </p>
    </div>
    <div class="right">
      <h1>A Developer</h1>
      <img src="assets/images/arts/developer.png">
    </div>
  </section>
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      <p [style.opacity]="opacityValue">
        <span>CI/CD and Infrastructure</span><br />
        GIT | Docker | Jenkins | Terraform | Ansible | ADO | Atlassian
        <br /><br />
        <span>IaaS</span><br />
        Azure | AWS | GCP | Firebase
        <br /><br />
        <span>Monitoring and Logging</span><br />
        Dynatrace | Graylog | App Insights
        <br /><br />
      </p>
    </div>
    <div class="right">
      <h1>An Engineer</h1>
      <img src="assets/images/arts/developer.png">
    </div>
  </section>
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      <p [style.opacity]="opacityValue">
        <span>Architectural Patterns</span><br />
        Event-Driven Architecture | Microservice | SOA | Serverless Architecture | n-Tier Design | P2P | Client/Server | Iterative | Domain/Data Driven | Balanced Optimization
        <br /><br />
        <span>Security Practices</span><br />
        OWASP | Secure SDLC | OAuth | SAML | SSL/TLS, PKI
        <br /><br />
        <span>Certifications</span><br />
        Whitehat | AWS Certified
        <br /><br />
      </p>
    </div>
    <div class="right">
      <h1>An Architect</h1>
      <img src="assets/images/arts/developer.png">
    </div>
  </section>
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      <p [style.opacity]="opacityValue">
        My kids are the most amazing people I have ever met in my life. A couple have grown to follow my interest in tech, but most just aren't inspired by it in that way. To them, it's just 
        même vieux, it's all they've known. My family has been an adopter of smart-home tech and AI since before these things were mainstream and while I would love for them to better understand
        the inner workings, I'm cool with them just not being tech illiterate.
      </p>
    </div>
    <div class="right">
      <h1>A Father</h1>
      <app-mixed-image-stack [images]="dadImages"></app-mixed-image-stack>
    </div>
  </section>
  <section class="full-screen-section">
    <div class="left">
      <p [style.opacity]="opacityValue">
        I've always embraced my inner dork, nerd, geek—whatever you want to call it. Let’s just say I was cool before cool was even a thing. I bring a unique perspective to every challenge, tackling life's daily pressures with a blend of humor and good-natured goofiness that's hard to replicate.
        At my core, I'm a proud computer nerd, which means I might occasionally land on the socially awkward side. My jokes (which I think are absolute gems) sometimes require a bit of creative interpretation, but delivered with enthusiasm. More importantly, I'm deeply passionate about my work.
        I take genuine pride in my ability to help others navigate and adapt to our ever-evolving world. It’s incredibly rewarding to contribute to meaningful solutions while bringing a little lightheartedness to the mix.
      </p>
    </div>
    <div class="right">
      <h1>A Little Bit Quirky</h1>
      <app-mixed-image-stack [images]="quirkyImages"></app-mixed-image-stack>
    </div>
  </section>

  <app-preview-section (click)="deactivateContactCard()" id="dev-preview" class="preview" [section]="devPreviewSection"></app-preview-section>
  
  <app-preview-section (click)="deactivateContactCard()" id="eng-preview" class="preview" [section]="engPreviewSection"></app-preview-section>

  <app-preview-section (click)="deactivateContactCard()" id="arc-preview" class="preview" [section]="arcPreviewSection"></app-preview-section>

  <app-work-exp [screenSize]="screenSize"></app-work-exp>
  <app-contact-card [class]="cardActive ? 'activated' : ''"></app-contact-card>

  <div [class]="cardActive ? 'logo activated' : isLogoActivated ? 'logo activated' : 'logo'" (click)="activateContactCard($event)">
     <div class="logo-content">
       <span>R</span>
       <span>B</span>
     </div>
   </div>

   <div id="footer"></div>