<div class="header">
    <div class="perma-bar">
      <h2>RandyBeal.Dev</h2>
    </div>
  
  </div>

<div class="main">
    <div id="img-1">
      <img src="assets/images/img-3.jpg" class="img-1">
    </div>
  
  </div>
  <section class="top-section full-screen-section">
    <app-preview-section id="dev-preview" class="preview" [section]="devPreviewSection"></app-preview-section>
  
    <app-preview-section id="eng-preview" class="preview" [section]="engPreviewSection"></app-preview-section>
  
    <app-preview-section id="arc-preview" class="preview" [section]="arcPreviewSection"></app-preview-section>
  
    <div id="dad-preview" class="preview">
      <div class="inner left">
        <div class="button">Billing Console</div>
        <div class="button">Notification Service</div>
        <div class="button">Shib CoOp</div>
        <div class="button">Mission City</div>
        <div class="button">Flow Frenz</div>
      </div>
      <div class="inner mid"></div>
      <div class="inner right">Some Content Here</div>
    </div>
  
    <div id="quirk-preview" class="preview">
      <div class="inner left">
        <div class="button">Billing Console</div>
        <div class="button">Notification Service</div>
        <div class="button">Shib CoOp</div>
        <div class="button">Mission City</div>
        <div class="button">Flow Frenz</div>
      </div>
      <div class="inner mid"></div>
      <div class="inner right">Some Content Here</div>
    </div>
  
    <div class="left">
      <h1>About Me ...</h1>
      <p id="intro">
        Hi! My name is Randy Beal, self-taught developer with nearly 
        20-years experience. I've been so fortunate to be able to spend
        my time building a career doing something I truly love to do. I've always
        wanted to be a developer, from a young age I had a growing interest in technology
        when I wanted to build video games. And though I've found myself sharpening 
        my craft in other professional capacities, I'm just truly blessed to have found
        a path which gives me purpose in the way this does. 
      </p>
      <div id="photo-stack">
  
      </div>
    </div>
    <div class="right">
  
    </div>
  </section>
  <section class="full-screen-section first-main-section">
    <div class="left">
    </div>
    <div class="right">
      <h1></h1>
    </div>
  </section>
  <section class="full-screen-section section-back">
    <div class="left">
      
      <p [style.opacity]="opacityValue">
        <span>Languages</span><br />
        C# | Node.js | Angular | React | PHP | Python | Javascript | JQuery | Solidity | VB | VBA | Bash | Powershell | AutoIt
        <br /><br />
        <span>Utilities</span><br />
        NuGet | NPM/Yarn | Composer | HardHat | Express.Js | Web3 | OAuth | XUnit
        <br /><br />
        <span>Database</span><br />
        T-Sql | NoSql | MySql | SSMS | PhpMyAdmin | Snowflake | SQLite
      </p>
    </div>
    <div class="right">
      <h1>A Developer</h1>
    </div>
  </section>
  <section class="full-screen-section section-back">
    <div class="left">
      <p [style.opacity]="opacityValue">
        <span>CI/CD and Infrastructure</span><br />
        GIT | Docker | Jenkins | Terraform | Ansible | ADO | Atlassian
        <br /><br />
        <span>IaaS</span><br />
        Azure | AWS | GCP
        <br /><br />
        <span>Monitoring and Logging</span><br />
        Dynatrace | Graylog
        <br /><br />
      </p>
    </div>
    <div class="right">
      <h1>An Engineer</h1>
    </div>
    <!-- <div data-img-to-show="#img-1"></div> -->
  </section>
  <section class="full-screen-section section-back">
    <div class="left">
      <p [style.opacity]="opacityValue">
        <span>Architectural Patterns</span><br />
        Microservice | MVC | P2P | Client/Server | Iterative | Domain/Data Driven
        <br /><br />
        <span>Certifications</span><br />
        Whitehat | AWS Certified
        <br /><br />
      </p>
    </div>
    <div class="right">
      <h1>An Architect</h1>
    </div>
    <!-- <div data-img-to-show="#img-2"></div> -->
  </section>
  <section class="full-screen-section section-back">
    <div class="left">
      <p [style.opacity]="opacityValue">
        My kids are the most amazing people I have ever met in my life. A couple have grown to follow my interest in tech, but most just aren't inspired by it in that way. To them, it's just 
        même vieux, it's all they've known. My family has been an adopter of smart-home tech and AI since before these things were mainstream and while I would love for them to better understand
        the inner workings, I'm cool with them just not being tech illiterate.
      </p>
    </div>
    <div class="right">
      <h1>A Father</h1>
    </div>
    <!-- <div data-img-to-show="#img-3"></div> -->
  </section>
  <section class="full-screen-section">
    <div class="left">
      <p [style.opacity]="opacityValue">
        Dork, Nerd, Goober. I was cool before cool was in. I believe I carry a unique perspective to the table, in all of my life approaching the daily pressures with an aloofness that's hard to emulate.
        I'm a computer nerd at heart, so I can be socially awkward at times. My jokes (while I think they're brilliant and hilarious) sometimes require a bit of a leap to follow. But I'm also passionate about my work.
        I take a sincere pride in what I do and in my ability to help so many people adapt into this fast changing world we live in.
      </p>
    </div>
    <div class="right">
      <h1>A Little Bit Quirky</h1>
    </div>
    <!-- <div data-img-to-show="#img-3"></div> -->
  </section>
  <section class="full-screen-section section-back final-section">
  </section>