body {
    background: linear-gradient(to bottom, #8d8988, #c0bfbf);
    transition: background 0.2s;
    background-position: calc(var(--scroll, 0) * 1%);
}

div.main.mid p {
    font-size: 1.5rem;
}

h1 {
    font-family: "SmoochSans", sans-serif;
    font-size: 5rem;
    font-weight: bold;
}

.header {
    position:sticky;
    top: 0;
    z-index: 100;
}

.perma-bar {
    position: absolute;
    width: 100%;
    background-color: #8d8988;
    top: 0;
}

div.perma-bar > h2 {
  margin-left: 40px;
}

div#img-1 {
    --start-scroll: 1;
    --end-scroll: 8;
    --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
    
    width: 30%;
    align-content: center;
    position: absolute;
    right: calc(10vw + var(--progress) * 50vw);
    opacity: clamp(1 - var(--progress), 0, 1);
    transition: right 0.2s ease-out, opacity 0.3s ease-out;

    height: 90vh;
    overflow: hidden;
  }

section.top-section {
    --start-scroll: 1;
    --end-scroll: 8;
    --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));

    opacity: clamp(1 - var(--progress), 0, 1);
}

section > div.right > img {
    top:30%;
    position: sticky;
    z-index: -1;
}

img.img-1 {
    width: 85%;
}
 
section.top-section.full-screen-section > div.left-intro > p#intro {
    top: 200px;
    position: relative;
    font-size: 2rem;
}

.full-screen-section {
    height: 100vh;
    text-align: center;
    // padding: 1rem;
    position: relative;
  }

h1#about-header {
  position: fixed;
  top: 9%;
  left: 5vw;
  margin: 0;

  --fade-start: 94;
  --fade-end: 96;

  --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

  opacity: calc(1 - clamp(0, var(--fade-progress), 1));

}
  
  .full-screen-section h1 {
    position: sticky;
    top: 9%;
    margin: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 1;
    z-index: 1;
  }
  
  .full-screen-section h1.inactive {
    opacity: 0;
    transform: translateY(-150%);
  }

section.full-screen-section {
    display: flex;
    flex-direction: row;
}

section.section-back {
  z-index: -1;
}

.left,
.right {
  flex-basis: 0;
  flex-grow: 1;
  padding: 1rem;
  padding-left: 3rem;
  z-index: -1;
}

div.left > p > span {
  font-weight: bold;
  left: 20px;
  position: absolute;
  margin-left: -2vw;
}

div.left > p#intro {
  position: sticky;
  top:23vh;
  font-size: x-large;
  line-height: 1.5;
  margin: 0 4vw 0 4vw;
}

div.left > p#intro > small {
  font-size: medium;
}

div.left > p#intro.mid {
    font-size: 1.3rem;
    line-height: 1.3;
}

div.left > p:not(#intro) {
  position: sticky;
  top:22vh;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 4vw 0 4vw;
  
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

div.left p.fade-out {
  opacity: 0;
}

.right > h1 {
    text-align: left;
}

.top-section {
  text-align: start;
//   padding: 20px;
  position: fixed;
  top:0;
  // left: 10vw;
}

.top-section .left {
background: linear-gradient(
    210.65deg,
    rgb(152, 157, 157, .35) 0%,
    rgb(189, 194, 194, .35) 100%
  );
}

#dev-preview {
  --start-scroll: 16; /* Start sliding */
  --end-scroll: 18;   /* End sliding */
  --fade-start: 28;   /* Start fading */
  --fade-end: 30;     /* End fading */

  --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
  --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

  transform: translateY(calc(95vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
  opacity: calc(1 - clamp(0, var(--fade-progress), 1));

  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

#eng-preview {
  --start-scroll: 35; /* Start sliding */
  --end-scroll: 37;   /* End sliding */
  --fade-start: 45;   /* Start fading */
  --fade-end: 47;     /* End fading */

  --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
  --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

  transform: translateY(calc(95vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
  opacity: calc(1 - clamp(0, var(--fade-progress), 1));

  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

#arc-preview {
  --start-scroll: 51; /* Start sliding */
  --end-scroll: 53;   /* End sliding */
  --fade-start: 61;   /* Start fading */
  --fade-end: 63;     /* End fading */

  --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
  --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

  transform: translateY(calc(95vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
  opacity: calc(1 - clamp(0, var(--fade-progress), 1));

  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

div.preview,
app-preview-section.preview {
  position: fixed;
  left: 5vw;
  top: 5%;
  width: 90%;
  height: 80%;
  background-color: #9c9ca7;

  border-radius: 10px;

  display: flex;
  flex-direction: row;
  z-index: 1;

  border-style: solid;
  box-shadow: 6px -6px 10px 5px rgba(0, 0, 0, 0.45);
}

div.preview.hidden,
app-preview-section.preview.hidden {
    z-index: -1;
}

div.inner {
  display: flex;
  flex-direction: column;
  gap:40px;

  align-items: center;
}

div.inner.left {
  flex:1;
  margin-top: 80px;
}

div.inner.mid {
  flex:1;
  margin-top: 80px;
  font-size: 1.5rem;
  text-align: center;

  border-left-color: black;
  border-right-color: black;
  border-style: groove;
  border-radius: 40px;
}

div.inner.right {
  flex:3;
}

div.inner.right > p {
  margin: 60px;
  font-size: 1.6rem;
}

:root {
  --scroll: 0;
}

.top-section {
  position: sticky;
  top: 0;
  --background-opacity: calc(100% - 1% * var(--scroll) * 100 / 150);
}

.first-main-section {
  padding-top: 10vh;
}

app-work-exp {
    // left: 10vw;
    position: relative;
    margin-bottom: 40px;
}

app-mixed-image-stack {
    margin-top: 40px;
    position: sticky;
    top: 30%;
}

div.logo.activated {
    opacity: 0;
}

.logo {
    opacity: .4;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    z-index: 2;
  }

  .logo-content {
    opacity: 1;
    background-color: #77c043;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  .logo-content > span {
    color: white;
    font-size: 2rem;
    transition: font-size 0.4s ease-in-out;
  }
  
  .logo-content span:nth-of-type(1) {
    font-weight: 800;
  }
  
  .logo-content span:nth-of-type(2) {
    font-weight: 100;
  }

div.logo:hover {
    opacity: 1;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  app-contact-card {
    margin-top: 40px;
    z-index: 101;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  app-contact-card.activated {
    margin-top: 0;
    position: fixed;
    top: 40%;
    right: 5vw;    
  }

  div#footer {
    height: 25px;
  }