<div class="header">
    <div class="perma-bar">
      <h2>RandyBeal.Dev</h2>
    </div>
  
  </div>

<div [class]="screenSize == 1 ? 'main mid' : 'main'" (click)="deactivateContactCard()">
    <div id="img-1">
      <img src="assets/images/img-2.jpg" class="img-1">
    </div>
  
  </div>
  <section class="top-section full-screen-section" (click)="deactivateContactCard()">
    <div class="left">
      <h1>About Me ...</h1>
      <p id="intro">
        Hi! My name is Randy Beal, self-taught developer with nearly 
        20-years experience. I've been so fortunate to be able to spend
        my time building a career doing something I truly love to do. I've always
        wanted to be a developer, from a young age I had a growing interest in technology
        when I wanted to build video games. And though I've found myself sharpening 
        my craft in other professional capacities, I'm just truly blessed to have found
        a path which gives me purpose in the way this does. 
      </p>
      <div id="photo-stack">
  
      </div>
    </div>
    <div class="right">
  
    </div>
  </section>
  <!-- <section class="full-screen-section first-main-section">
    <div class="left">
    </div>
    <div class="right">
      <h1></h1>
    </div>
  </section> -->
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      
      <p [style.opacity]="opacityValue">
        <span>Languages</span><br />
        C# | Node.js | Angular | React | Go | PHP | Python | Javascript | JQuery | Solidity | VB | VBA | Bash | Powershell | AutoIt
        <br /><br />
        <span>Technologies / Utilities</span><br />
        AI | Postman | NuGet | NPM/Yarn | Composer | HardHat | Express.Js | Web3 | OAuth | XUnit | WebSphere MQ
        <br /><br />
        <span>Database</span><br />
        T-Sql | Entity Framework | NoSql | MySql | SSMS | PhpMyAdmin | Snowflake | SQLite
      </p>
    </div>
    <div class="right">
      <h1>A Developer</h1>
      <img src="assets/images/arts/developer.png">
    </div>
  </section>
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      <p [style.opacity]="opacityValue">
        <span>CI/CD and Infrastructure</span><br />
        GIT | Docker | Jenkins | Terraform | Ansible | ADO | Atlassian
        <br /><br />
        <span>IaaS</span><br />
        Azure | AWS | GCP | Firebase
        <br /><br />
        <span>Monitoring and Logging</span><br />
        Dynatrace | Graylog | App Insights
        <br /><br />
      </p>
    </div>
    <div class="right">
      <h1>An Engineer</h1>
      <img src="assets/images/arts/developer.png">
    </div>
    <!-- <div data-img-to-show="#img-1"></div> -->
  </section>
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      <p [style.opacity]="opacityValue">
        <span>Architectural Patterns</span><br />
        Event-Driven Architecture | Microservice | SOA | Serverless Architecture | n-Tier Design | P2P | Client/Server | Iterative | Domain/Data Driven | Balanced Optimization
        <br /><br />
        <span>Security Practices</span><br />
        OWASP | Secure SDLC | OAuth | SAML | SSL/TLS, PKI
        <br /><br />
        <span>Certifications</span><br />
        Whitehat | AWS Certified
        <br /><br />
      </p>
    </div>
    <div class="right">
      <h1>An Architect</h1>
      <img src="assets/images/arts/developer.png">
    </div>
    <!-- <div data-img-to-show="#img-2"></div> -->
  </section>
  <section class="full-screen-section section-back" (click)="deactivateContactCard()">
    <div class="left">
      <p [style.opacity]="opacityValue">
        My kids are the most amazing people I have ever met in my life. A couple have grown to follow my interest in tech, but most just aren't inspired by it in that way. To them, it's just 
        même vieux, it's all they've known. My family has been an adopter of smart-home tech and AI since before these things were mainstream and while I would love for them to better understand
        the inner workings, I'm cool with them just not being tech illiterate.
      </p>
    </div>
    <div class="right">
      <h1>A Father</h1>
      <app-mixed-image-stack [images]="dadImages"></app-mixed-image-stack>
    </div>
    <!-- <div data-img-to-show="#img-3"></div> -->
  </section>
  <section class="full-screen-section">
    <div class="left">
      <p [style.opacity]="opacityValue">
        Dork, Nerd, Goober. I was cool before cool was in. I believe I carry a unique perspective to the table, in all of my life approaching the daily pressures with an aloofness that's hard to emulate.
        I'm a computer nerd at heart, so I can be socially awkward at times. My jokes (while I think they're brilliant and hilarious) sometimes require a bit of a leap to follow. But I'm also passionate about my work.
        I take a sincere pride in what I do and in my ability to help so many people adapt into this ever changing world we live in.
      </p>
    </div>
    <div class="right">
      <h1>A Little Bit Quirky</h1>
      <app-mixed-image-stack [images]="quirkyImages"></app-mixed-image-stack>
    </div>
    <!-- <div data-img-to-show="#img-3"></div> -->
  </section>
  <!-- <section class="full-screen-section section-back final-section"> -->
  <!-- </section> -->

  <app-preview-section (click)="deactivateContactCard()" id="dev-preview" class="preview" [section]="devPreviewSection"></app-preview-section>
  
  <app-preview-section (click)="deactivateContactCard()" id="eng-preview" class="preview" [section]="engPreviewSection"></app-preview-section>

  <app-preview-section (click)="deactivateContactCard()" id="arc-preview" class="preview" [section]="arcPreviewSection"></app-preview-section>

  <app-work-exp></app-work-exp>
  <app-contact-card [class]="cardActive ? 'activated' : ''"></app-contact-card>

  <div [class]="cardActive ? 'logo activated' : isLogoActivated ? 'logo activated' : 'logo'" (click)="activateContactCard($event)">
     <div class="logo-content">
       <span>R</span>
       <span>B</span>
     </div>
   </div>
