<div class="main">
    <div class="header">
        <span>Find out if AI thinks I'd be a good fit for your role</span>
        
        <button mat-icon-button class="modal-header-btn">
            <mat-icon class="close-icon" color="dark">close</mat-icon>
          </button>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Enter Role, Title, or Description</mat-label>
        <input matInput placeholder="Include names of relevant tech" [(ngModel)]="prompt">
    </mat-form-field>
    <div class="input-line">
        <button>Tell Me</button>
        <span>{{executed ? prompt : 'much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, '}}</span>
    </div>
    <div *ngIf="executed" class="output">
        <span>much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, much longer string of text, </span>
    </div>
</div>

