<div class="hero">
    <span>- This page is under development, as of Jan, 24nd 2025, 
    If you want to see the original, very busy, muted, but fully populated site, <a href="https://randybeal-dev--old-oa7ikjzh.web.app/">click here</a>.<br />
    - One thing I won't claim to be, is a UI Designer, so please bear with me as I work out what this page looks like.<br />
    - This page is not yet mobile friendly</span>
    <div class="hero-inner">

        <div class="hero-text">
            <span class="welcome">RandyBeal.dev</span>
            <p>
                Hi, I'm a self-taught full-stack developer with nearly 20 years of 
      experience. I've designed, developed, and implemented enterprise architecture 
      and applications for small business and Fortune 100 companies. Through business process
      automation, CSM, billing mgmt, and e-commerce platforms I'm well experienced 
      with the full development lifecycle. Whether API integration, transactional messaging,
      modular component building or system integrations, I've learned how to approach and manage
      applications and their platforms following the latest of standards in design and security.
      Take a look around to learn more.
            </p>
        </div>
        <div class="hero-image">
            <div *ngIf="typeCodeVisible" class="instructions">
                <span>Just Start Typing!!</span>
                <span (click)="closeTyper()">close</span>
            </div>
            <app-monitor></app-monitor>
            <small *ngIf="typeCodeVisible">Just like hackertyper.net</small>
        </div>
    </div>
</div>

<app-ai-role-check *ngIf=aiVisible></app-ai-role-check>
