<div class="main" [class]="screenSize > 0 ? 'mobile' : ''">
  <!-- Screen: {{ screenSize }} -->
    <div
      *ngFor="let tech of techWeights; let i = index"
      class="techstack-item"
      [attr.id]="'skill-' + tech.name"
      [ngStyle]="{
        'width': techPositions[i].width,
        'height': techPositions[i].height,
        'top': techPositions[i].top,
        'left': techPositions[i].left,
        'transform': techPositions[i].rotation,
        'background-color': 'rgba(30, 30, 46, 0.8)',
        'font-size': techPositions[i].fontSize,
      }"
    >
      {{ tech.name }}
    </div>
  </div>
  