

body {
    background-color: gray;
    font-family: monospace;
}

p {
    margin: 30px;
}

div.header {
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.perma-bar {
    background-color: #8d8988;
    top: 0;
}

div.perma-bar > h2 {
    font-family: 'SmoochSans', sans-serif;
  margin-left: 40px;
}

div.main {
    text-align: center;
    max-width: 100vw;
    background-color: gray;
}

div#img-1.image-container {
    position: relative;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#img-1 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: auto;
    transform: scale(calc(1 - var(--scroll) / 40));
}

div.full-screen > h2 {
    text-align: center;
    border-bottom-style: groove;
    width: 90%;
}

div.full-screen {
    height: 120vh;
}

div.full-screen:not(.first-section)  {
    top: 100px;
    position: sticky;
}

div.full-screen.first-section {
    top: 0;
    position: sticky;

    opacity: calc(1 - var(--scroll) / 8);
    transition: opacity 0.2s ease-out;
}

div.page-content {
    display: flex;
    flex-direction: column;
}

div.page-content > div > span {
    left: 10px;
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
}

div.page-content > div > p {
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 50px;
    margin-bottom: 20px;
}

div.full-screen > img {
    width: 70vw;
}

#dev-preview {
    --start-scroll: 15; 
    --end-scroll: 19;
    --fade-start: 25;
    --fade-end: 28;
  
    --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));
  
    transform: translateY(calc(85vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

div.full-screen.dev-text {
    --fade-start: 26;
    --fade-end: 28;

    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
}
  
#eng-preview {
    --start-scroll: 30; 
    --end-scroll: 34;
    --fade-start: 40;
    --fade-end: 43;
  
    --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));
  
    transform: translateY(calc(85vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

div.full-screen.eng-text {
    --fade-start: 41;
    --fade-end: 43;

    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
}
  
#arc-preview {
    --start-scroll: 47; 
    --end-scroll: 51;
    --fade-start: 57;
    --fade-end: 60;
  
    --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));
  
    transform: translateY(calc(85vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

div.full-screen.arc-text {
    --fade-start: 58;
    --fade-end: 60;

    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
}
  
#dad-preview {
    --start-scroll: 63; 
    --end-scroll: 67;
    --fade-start: 68;
    --fade-end: 77;
  
    --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));
  
    transform: translateY(calc(85vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

div.full-screen.dad-text {
    --fade-start: 68;
    --fade-end: 71;

    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
}
  
#quirk-preview {
    --start-scroll: 79; 
    --end-scroll: 83;
    --fade-start: 85;
    --fade-end: 88;
  
    --progress: calc((var(--scroll) - var(--start-scroll)) / (var(--end-scroll) - var(--start-scroll)));
    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));
  
    transform: translateY(calc(85vh - (clamp(0, var(--progress), 1) * 85vh))); /* Moves from 80vh to 5vh */
    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

div.full-screen.quirk-text {
    --fade-start: 85;
    --fade-end: 88;

    --fade-progress: calc((var(--scroll) - var(--fade-start)) / (var(--fade-end) - var(--fade-start)));

    opacity: calc(1 - clamp(0, var(--fade-progress), 1));
}

div.logo.activated {
    opacity: 0;
}

.logo {
    opacity: .4;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex; /* Use Flexbox inside the logo if needed */
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    z-index: 2;

}

.logo:not(.activated){
    animation: pulse 20s ease-in-out infinite;
    // animation-delay: 10s; /* Delay before the pulse repeats */    
  }

  .logo-content {
    opacity: 1;
    background-color: #77c043; /* Green background */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  .logo-content > span {
    color: white;
    font-size: 2rem;
    transition: font-size 0.4s ease-in-out;
  }
  
  .logo-content span:nth-of-type(1) {
    font-weight: 800;
  }
  
  .logo-content span:nth-of-type(2) {
    font-weight: 100;
  }

app-mobile-preview.preview-section {
    position: fixed;
    position-area: center;
    align-items: center;
    top: 15%;

    display: block;
    width: 90%;

    border-radius: 10px;
    background-color: #9c9ca7;
    min-width: 90%;
    max-width: 90%;
    height: 75%;

    display: flex;
    flex-direction: column;
  }

  div.logo:hover {
    opacity: 1;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  app-contact-card {
    margin-top: 40px;
  }

  app-contact-card.activated {
    margin-top: 0;
    position: fixed;
    top: 40%;
    left: 5vw;    
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: .4;
    }
    2.5% {
      transform: scale(1.2);
      opacity: 0.8;
    }
    5% {
      transform: scale(1);
      opacity: .4;
    }
  }
  
//   .logo.pulse {
//     animation: pulse 1s ease-in-out;
//   }