<div class="header">
    <div class="perma-bar">
      <h2>RandyBeal.Dev</h2>
    </div>
  
  </div>

<div class="main" (click)="deactivateContactCard()">
    <div class="full-screen first-section">
        <div id="img-1" class="image-container">
          <img src="assets/images/img-3.jpg" class="img-1">
        </div>
        <p id="intro">
            Hi, I'm Randy Beal, a self-taught developer with nearly 20 years of 
            experience. For as long as I can remember, I've had a drive to learn
            and bend technology to my will, initially as a dream of creating video 
            games. Over the years, I've honed my craft in various professional 
            roles, building a fulfilling career doing what I love most. I'm 
            currently exploring new opportunities to meet and work with others
            who share my passion.<br /> <br />
            <small>One thing I won't claim to be, is a UI Designer, so please bear with me as I work out what this page looks like.</small>
          </p>
    </div>
    <div class="full-screen dev-text">
        <h2>Developer</h2>
        <div class="page-content">
            <div>
                <span>Languages</span>
                <p>C# | Node.js | Angular | React | Go | PHP | Python | Javascript | JQuery | Solidity | VB | VBA | Bash | Powershell | AutoIt</p>
            </div>
            <div>
                <span>Technologies / Utilities</span>
                <p>Express.Js | REST | SOAP | AI | Pkg Mgrs | HardHat | Web3 | OAuth | XUnit | WebSphere MQ</p>
            </div>
            <div>
                <span>Database</span>
                <p>T-Sql | Entity Framework | NoSql | MySql | SSMS | PhpMyAdmin | Snowflake | SQLite</p>
            </div>
        </div>
        <img src="assets/images/arts/developer.png">
    </div>
    <div class="full-screen eng-text">
        <h2>Engineer</h2>
        <div class="page-content">
            <div>
                <span>CI/CD and Infrastructure</span>
                <p>GIT | Docker | Jenkins | Terraform | Ansible | ADO | Atlassian</p>
            </div>
            <div>
                <span>IaaS</span>
                <p>Azure | AWS | GCP | Firebase</p>
            </div>
            <div>
                <span>Monitoring and Logging</span>
                <p>Dynatrace | Graylog | App Insights</p>
            </div>
        </div>
        <img src="assets/images/arts/engineer.png">
    </div>
    
    <div class="full-screen arc-text">
        <h2>Architect</h2>
        <div class="page-content">
            <div>
                <span>Architectural Patterns</span>
                <p>Event-Driven Architecture | Microservice | SOA | Serverless Architecture | n-Tier Design | P2P | Client/Server | Iterative | Domain/Data Driven | Balanced Optimization</p>
            </div>
            <div>
                <span>Security Practices</span>
                <p>OWASP | Secure SDLC | OAuth | SAML | SSL/TLS, PKI</p>
            </div>
            <div>
                <span>Certifications</span>
                <p>Whitehat | AWS Certified</p>
            </div>
        </div>
        <img src="assets/images/arts/architect.png">
    </div>
    <div class="full-screen dad-text">
        <h2>Father</h2>
        <div class="page-content">
            <div>
                <span></span>
                <p>My kids are the most amazing people I have ever met in my life. A couple have grown to follow my interest in tech, but most just aren't inspired by it in that way. To them, it's just 
                    même vieux, it's all they've known. My family has been an adopter of smart-home tech and AI since before these things were mainstream and while I would love for them to better understand
                    the inner workings, I'm cool with them just not being tech illiterate.</p>
            </div>
        </div>
        <app-mixed-image-stack [images]="dadImages"></app-mixed-image-stack>
    </div>
    <div class="full-screen quirk-text">
        <h2>A Little Bit Quirky...</h2>
        <div class="page-content">
            <div>
                <span></span>
                <p>
                    I've always embraced my inner dork, nerd, geek—whatever you want to call it. Let’s just say I was cool before cool was even a thing. I bring a unique perspective to every challenge, tackling life's daily pressures with a blend of humor and good-natured goofiness that's hard to replicate.
                    At my core, I'm a proud computer nerd, which means I might occasionally land on the socially awkward side. My jokes (which I think are absolute gems) sometimes require a bit of creative interpretation, but delivered with enthusiasm. More importantly, I'm deeply passionate about my work.
                    I take genuine pride in my ability to help others navigate and adapt to our ever-evolving world. It’s incredibly rewarding to contribute to meaningful solutions while bringing a little lightheartedness to the mix.
                </p>
            </div>
        </div>
        <app-mixed-image-stack [images]="quirkyImages"></app-mixed-image-stack>
    </div>

     <app-mobile-preview class="preview-section" id="dev-preview" [section]="devPreviewSection"></app-mobile-preview>
     <app-mobile-preview class="preview-section" id="eng-preview" [section]="engPreviewSection"></app-mobile-preview>
     <app-mobile-preview class="preview-section" id="arc-preview" [section]="arcPreviewSection"></app-mobile-preview>


     <app-work-exp [screenSize]="2"></app-work-exp>
     <app-contact-card [class]="cardActive ? 'activated' : ''"></app-contact-card>

     <div [class]="cardActive ? 'logo activated' : isLogoActivated ? 'logo activated' : 'logo'" (click)="activateContactCard($event)">
        <div class="logo-content">
          <span>R</span>
          <span>B</span>
        </div>
      </div>

  </div>