<div class="header">
    <div class="perma-bar">
      <h2>RandyBeal.Dev</h2>
    </div>
  
  </div>

<div class="main">
    <div class="full-screen first-section">
        <div id="img-1" class="image-container">
          <img src="assets/images/img-3.jpg" class="img-1">
        </div>
        <p id="intro">
            Hi! My name is Randy Beal, self-taught developer with nearly 
            20-years experience. I've been so fortunate to be able to spend
            my time building a career doing something I truly love to do. I've always
            wanted to be a developer, from a young age I had a growing interest in technology
            when I wanted to build video games. And though I've found myself sharpening 
            my craft in other professional capacities, I'm just truly blessed to have found
            a path which gives me purpose in the way this does. 
          </p>
    </div>
    <div class="full-screen dev-text">
        <h2>Developer</h2>
        <div class="page-content">
            <div>
                <span>Languages</span>
                <p>C# | Node.js | Angular | React | PHP | Python | Javascript | JQuery | Solidity | VB | VBA | Bash | Powershell | AutoIt</p>
            </div>
            <div>
                <span>Utilities</span>
                <p>AI | NuGet | NPM/Yarn | Composer | HardHat | Express.Js | Web3 | OAuth | XUnit</p>
            </div>
            <div>
                <span>Database</span>
                <p>T-Sql | NoSql | MySql | SSMS | PhpMyAdmin | Snowflake | SQLite</p>
            </div>
        </div>
    </div>
    <div class="full-screen eng-text">
        <h2>Engineer</h2>
        <div class="page-content">
            <div>
                <span>CI/CD and Infrastructure</span>
                <p>GIT | Docker | Jenkins | Terraform | Ansible | ADO | Atlassian</p>
            </div>
            <div>
                <span>IaaS</span>
                <p>Azure | AWS | GCP | Firebase</p>
            </div>
            <div>
                <span>Monitoring and Logging</span>
                <p>Dynatrace | Graylog | Azure</p>
            </div>
        </div>
    </div>

    <div class="full-screen arc-text">
        <h2>Architect</h2>
        <div class="page-content">
            <div>
                <span>Architectural Patterns</span>
                <p>Microservice | MVC | P2P | Client/Server | Iterative | Domain/Data Driven</p>
            </div>
            <div>
                <span>Certifications</span>
                <p>Whitehat | AWS Certified</p>
            </div>
        </div>
    </div>
    <div class="full-screen dad-text">
        <h2>Father</h2>
        <div class="page-content">
            <div>
                <span></span>
                <p>My kids are the most amazing people I have ever met in my life. A couple have grown to follow my interest in tech, but most just aren't inspired by it in that way. To them, it's just 
                    même vieux, it's all they've known. My family has been an adopter of smart-home tech and AI since before these things were mainstream and while I would love for them to better understand
                    the inner workings, I'm cool with them just not being tech illiterate.</p>
            </div>
        </div>
    </div>
    <div class="full-screen quirk-text">
        <h2>A Little Bit Quirky...</h2>
        <div class="page-content">
            <div>
                <span></span>
                <p>Dork, Nerd, Goober. I was cool before cool was in. I believe I carry a unique perspective to the table, in all of my life approaching the daily pressures with an aloofness that's hard to emulate.
                    I'm a computer nerd at heart, so I can be socially awkward at times. My jokes (while I think they're brilliant and hilarious) sometimes require a bit of a leap to follow. But I'm also passionate about my work.
                    I take a sincere pride in what I do and in my ability to help so many people adapt into this fast changing world we live in.</p>
            </div>
        </div>
    </div>

     <app-mobile-preview class="preview-section" id="dev-preview" [section]="devPreviewSection"></app-mobile-preview>
     <app-mobile-preview class="preview-section" id="eng-preview" [section]="engPreviewSection"></app-mobile-preview>
     <app-mobile-preview class="preview-section" id="arc-preview" [section]="arcPreviewSection"></app-mobile-preview>


     <app-work-exp></app-work-exp>
  </div>