
<!-- <div id="page-overlay"></div> -->

<!-- <app-default-view *ngIf="screenSize != 2" [screenSize]="screenSize" (click)="closeContact()"></app-default-view>
<app-mobile-view *ngIf="screenSize == 2" (click)="closeContact()"></app-mobile-view> -->

<router-outlet></router-outlet>

<div [class]="cardActive ? 'logo activated' : 'logo'" (click)="activateContactCard($event)">
    <div class="logo-content">
      <span>R</span>
      <span>B</span>
    </div>
  </div>


<div id="underlay" (click)="deactivateContactCard()" [class]="cardActive ? 'activated' : ''"></div>
  <app-contact-card [class]="cardActive ? 'activated' : ''"></app-contact-card>