     
    <div class="card" (click)="stopClick($event)">
        <div class="card-top">
            <div class="logo">
              <div class="logo-content">
                <span>R</span>
                <span>B</span>
              </div>
            </div>
            <div class="triangle"></div>
        </div>
        <div class="info">
          <h1>Randy Beal</h1>
          <p>App Developer / Architect</p>
          <div class="contact">
            <p><i class="fas fa-file-alt"></i> <a href="resume-summary.pdf" target="_blank">Resume Summary</a></p>
            <!-- <p><i class="icon file-pdf"></i> <a href="detailed-resume.pdf" target="_blank">Detailed Resume</a></p> -->
            <p><i class="fas fa-globe"></i> www.randybeal.dev</p>
            <p><i class="fas fa-twitter"></i> &#64;LeftBrainCre8ed</p>
            <p><i class="fas fa-phone"></i> 727-557-9039</p>
            <p><i class="fas fa-envelope"></i> dev.randybeal&#64;gmail.com</p>
          </div>
        </div>
    </div>

    <div class="tooltip">Mouse-over or click to reveal</div>
