     
    <div class="card" (click)="stopClick($event)">
        <div class="card-top">
            <div class="logo">
              <div class="logo-content">
                <span>R</span>
                <span>B</span>
              </div>
            </div>
            <div class="triangle"></div>
        </div>
        <div class="info">
          <h1>Randy Beal</h1>
          <p>App Developer / Architect</p>
          <div class="contact">
            <p><i class="fas fa-file-alt"></i> <a href="assets/rbeal_2025_exp.pdf" target="_blank">Resume Summary</a></p>
            <p><i class="fas fa-globe"> </i> <a href="https://github.com/LeftBrainCreated" target="_blank">git:LeftBrainCreated</a></p>
            <p><i class="fas fa-github"></i> <a href="https://github.com/LeftBrainCreated/randybeal.dev" target="_blank">&#64;LeftBrainCre8ed</a></p>
            <p><i class="fas fa-phone"></i><a href="tel:7275579039">727-557-9039</a></p>
            <p><i class="fas fa-envelope"></i> <a href="mailto:dev.randybeal@gmail.com"> dev.randybeal&#64;gmail.com</a></p>
          </div>
        </div>
    </div>
    <!-- <span id="close">close</span> -->

    <div class="tooltip">Mouse-over or tap to reveal</div>
